<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create a New Puppy</title>
  </head>
  <body>
    Name: <%= @new_pooch.name %>
    Breed: <%= @new_pooch.breed %>
    Age: <%= @new_pooch.age %>
  </body>
</html>