<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create a New Puppy</title>
  </head>
  <body>
    Puppy Name:<%= /s+@new_pooch.name/i %>
    Puppy Breed:<%= /s+@new_pooch.breed/i %>
    Puppy Age:<%= /s+@new_pooch.age/i %>
  </body>
</html>